.profile-img{
      position: relative;
      border-radius: 50%;
      width: 90%;
      animation-name: profile-img;
      animation-duration: 4s;
      animation-delay: -2s;
}

@keyframes profile-img {
      0%   {transform: rotate(45deg);}
      25%  {transform: rotate(900deg);}
      50%  {transform: rotate(180deg);}
      75%  {transform: rotate(270deg);}
      100% {transform: rotate(360deg);}
     
    }
body{
      background-color:ghostwhite;
}
main{
      display: flex;
      flex-direction: row;
}
aside{
      margin-top: 5%;
      width : 30%;
      border-right: 1px solid black;
      height: 100vh;
}
.bio{
      position: relative;
      width: 80%;
      height: fit-content;
      border: 2px solid black;
      margin: auto;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.repos{
      position: relative;
      width: 45%;
      height: fit-content;
      margin: auto;
}
.repos-list{
      
      display: flex;
      list-style: none;
      position: relative;
      flex-direction: column;
      padding: 0px;
}
.repo{
      border : 1px solid black;

}